<!DOCTYPE HTML>
<html>
    <head>
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script src="/charting_library/charting_library.js"></script>
    <script>
        var arr="<%= title %>";
        var exchangename="<%= exchangename %>";
        var userIdx = "<%=userIdx%>";
        var _sym = "<%=symbol%>";
        var _server = "<%=server%>";
        var _theme = "<%=theme%>";
        var BCup = "<%=BCup%>";
        var BCdown = "<%=BCdown%>";
        var BCupborder = "<%=BCup%>";
        var BCdownborder = "<%=BCdown%>";
        var BCuptail = "<%=BCup%>";
        var BCdowntail = "<%=BCdown%>";
        var bcColor = "<%=bcColor%>";
        var miniChart = "<%=miniChart%>";
        var lineColor = "<%=lineColor%>";
        var lineTextColor = "<%=lineTextColor%>";
    </script>
    <script type="module" src="/js/main.js?t=202212227"></script>
</head>

<body style="margin:0px;">
    <div id="tv_chart_container">
    </div>
</body>

</html>